@import "../../styles/global.scss";



.hero-section {
    min-height: calc(100vh - 125px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;

}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $main-white;
    margin: 0 auto;
}

.chakra-container.right {
    display: none;
}

.chakra-container.left {
    background-color: $main-black;
    max-width: 100vw;
    min-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    color: $main-white;
    text-align: center;
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}


@media only screen and (min-width: 768px){
    .container {
        flex-direction: column;
    }
    .chakra-container.left {
        max-width: 100vw;
        margin-right: 0;

}

    .chakra-container.right {
        max-width: 100vw;
        min-height: 60vh;
        background:  url("../../assets/hero-banner-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        display: flex;
}    
}





// .container {
//     width: 100vw;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: $main-white;
//     margin: 0 auto;
// }

// .chakra-container.right {
//     background: url("../../assets/hero-banner-bg.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     max-width: 60vw;
//     height: calc(100vh - 125px);
// }

// .chakra-container.left {
//     background-color: $main-black;
//     max-width: 60vw;
//     min-height: 60vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     margin-right: -10vh;
//     z-index: 5;
// }





















































// @media only screen and (max-width: 768px){
//     .container {
//         flex-direction: column;
//     }
//     .chakra-container.left {
//         background-color: yellow;
//         max-width: 100vw;
//         margin-right: 0;

// }

//     .chakra-container.right {
//         max-width: 100vw;
//         min-height: 60vh;
//         display: none;
// }    
// }
// @media only screen and (min-width: 1024px) and (max-width: 1440px) {

    
// }

